.start-button {
    border-radius: 5px;
    background-color: white;
    color: #3f4b41;
    font-family: 'Amatic SC';
    font-size: 20px;
    height: 30px;
    width: 120px;
    margin: 15px;
    border:0.5px solid darkgray;
  }
  
  .start-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 25px;
  }

  .wrapper-img {
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 10px;
    height: 150px;
    width: 150px;
    border: 1px solid darkgray;
  }

  .logo-img {
    width: 80%;
  }

/** MEDIA QUERIES **/

/** TABLETS **/

@media (min-width: 665px) {
}
/** DESKTOP **/
  
@media (min-width: 1024px){
      
}