.happy-list-container {
    display: flex;
    align-items:center;
    flex-direction: column;
    background-image:url(flowerstatue.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh;
    width:100%;
}

.form-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:none;
    width:80%;
    border-radius:30px;
    margin:0 10px 0;
}
