.footer-container {
    background:#f6f2df;
}

p {
    font-family: 'Amatic SC';
    color:#3f4b41;
    font-size: 25px;
    margin: 10px 0;
}

/** MEDIA QUERIES **/

/** TABLETS **/

@media (min-width: 665px) {
}

/** DESKTOP **/
    
@media (min-width: 1024px){
        
}