.meditation-container {
    display:flex;
    justify-content: center;
    background-image:url(stones.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh;
    width:100%;
}

.meditation-list {
    justify-content: center;
    width:50%;
    color: #3f4b41;
}

