.meditation-container {
    display:flex;
    justify-content: center;
    background-image:url(mindfulness.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh;
    width:100%;
}

.meditation-list {
    justify-content: center;
    width:50%;
    color: #3f4b41;
}

/** MEDIA QUERIES **/

/** TABLETS **/

@media (min-width: 665px) {
}
/** DESKTOP **/
    
@media (min-width: 1024px){
        
}
